.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  width: 200px;
  height: 200px;
  font-size: 5rem;
  font-weight: bolder;
  color: white;
  border: solid 1px black;
}

.square_o {
  background-color: blue;
}

.square_x {
  background-color: orangered;
}

p {
  font-size: 2rem;
}
